{% extends "auctions/layout.html" %}

{% block title %}

{% endblock %}


{% block body %}
<div class="container">
        <h2 class="my-4">ListPage</h2>
        <div class="row">
            <div class="col-sm-4 border rounded-left bg-light p-4">
                <img src="{{ auction.image }}" class="img-thumbnail" alt="image">
            </div>
            <div class="col-sm-8 border rounded-right bg-light py-4 px-5">
                <h2>{{ auction.title }}</h2>
                <ul>
                    <li>{{ auction.desc}}</li>
                </ul>
                <p class="lead">Category : {{ auction.categories }}</p>
                <h6>Starting Bid : ${{ auction.startingbid }}</h6>
                <br><br>
                 <p class="text-muted">Created at : {{ auction.created_at }}</p>
            </div>
        </div>
        <br>
</div>
{% endblock %}